[submodule "chatbot-engine"]
	path = chatbot-engine
	url = https://github.com/protoman92/chatbot-engine.git
[submodule "javascript-helper"]
	path = javascript-helper
	url = https://github.com/protoman92/javascript-helper.git
